<!--Footer-->
<footer class="page-footer font-small  pt-0 ">

    <!-- <div class="social_media">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 txtsuivi">Suivez-nous sur les réseaux sociaux ! </h6>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic ml-0">
                        <i class="fa fa-facebook white-text mr-lg-4"> </i>
                    </a>
                    <a class="tw-ic">
                        <i class="fa fa-twitter white-text mr-lg-4"> </i>
                    </a>
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                    </a>
                    <a class="li-ic">
                        <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                    </a>
                    <a class="ins-ic">
                        <i class="fa fa-instagram white-text mr-lg-4"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>KAKOO</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    Kakoo est une suite de logiciels interconnectés qui révolutionnent le métier des ressources
                    humaines.
                </p>
                <p>
                    Grâce aux nouvelles technologies, l’intelligence artificielle et le big data, nous pouvons
                    maintenant challenger un candidat, savoir s’il est disponible ou pas mais mieux encore deviner le
                    moment opportun pour le contacter.
                </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>OFFRES</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Kakoo </p>
                <p>Kakoo RH</p>
                <p>Kakoo Connect</p>
                <p>Kakoo Cortex</p>
                <p>Kakoo Marketplace</p>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>SOCIÉTÉ</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p> Société </p>
                <p> Recrutement </p>
                <p> Mentions légales</p>
                <p> Confidentialité</p>
                <p> Support </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>CONTACT</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> 37 Rue Adam Ledoux </p>
                <p>
                    <i class="fa fa-hoome mr-3"></i> 92400 Courbevoie - France </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> demo@kakoo-software.com</p>
                <p>
                    <i class="fa fa-print mr-3"></i> +33 (0) 1 76 38 04 35
                </p>
                <p>
                    <strong><a routerLink="terms" style="color: black">Terms & Confidentialité</a></strong>
                </p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center" style="line-height: 15px;">
        <div class="container-fluid" style="color:black;">
            <strong>
                Copyright © 2018-2023 : <a href="https://kakoo-software.fr/" style="color: #9a2828; font-weight: bold;">Kakoo</a>
            </strong>
        </div>
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->