<div class="container">
  <div class="row">
      <div class="col-md-12">
           

            
          <div class="error-template">
                <img src="./assets/home/images/newlogokako.png" height="30" alt="">

              <h1>
                  Oops!</h1>
              <h2>
                  404 Page Introuvable</h2>
              <div class="error-details">
                La page que vous cherchez n'existe pas (ou plus).
              </div>
              <div class="error-actions">
                  <a (click)="backHome()" class="btn btn-elegant btn-lg"><span class="glyphicon glyphicon-home"></span>
                      Revenir à l'acceuil </a>
                  <a (click)="backClicked()" class="btn btn-deep-orange btn-lg"><span class="glyphicon glyphicon-envelope"></span> Page précédente</a>
              </div>
          </div>
      </div>
      <div class="col-md-12">
     </div>

  </div>
</div>
