
.mycontainer{
    position: relative;
    margin-bottom: 40px;
}
.white{
    margin-bottom: 3em;
  }
  .container{
      background: #fffd;
      box-shadow: 1px 1px 6px grey;
      border-radius: 5px;
  }
