<app-user-navbar></app-user-navbar>
<div class="page-container">
  <div class="container signup-sec">
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="my-form">
          <div class="">
            <p class="welcome-text">Welcome to</p>
            <div class="logo-area">
              <img src="assets/home/images/logo.png" alt="">
              <p>akoo Software</p>
            </div>
            <div class="loader" *ngIf="loader"></div>
            <section *ngIf="!successSignup && !loader">
              <form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <div class="example-container row">
                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Prénom" formControlName="firstName" required>
                    <mat-error>Champs invalide</mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Nom" formControlName="lastName" required>
                    <mat-error>Champs invalide</mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error>Champs invalide
                      <span *ngIf="registrationForm.controls['email']?.errors?.required "> : Veuillez entrer une adresse
                        mail</span>
                      <span *ngIf="registrationForm.controls['email']?.errors?.emailTaken  "> : Un utilisateur avec cet
                        email existe déjà</span>
                    </mat-error>
                    <!--<mat-error *ngIf="!emailExist">Email invalide</mat-error>-->
                    <div *ngIf="registrationForm.controls['email']?.status === 'PENDING'">
                      <span class="text-info">Vérification...</span>
                    </div>
                  </mat-form-field>
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="mot de passe" type="password"  (keyup)="pwdConfirm()" formControlName="password" required>
                    <mat-error>mot de passe</mat-error>
                  </mat-form-field>
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Confirmez le mot de passe" type="password" (keyup)="pwdConfirm()" formControlName="confirmPassword" required>
                    <mat-error>Confirmez le mot de passe</mat-error>
                  </mat-form-field>
                  <p class="error-msg" *ngIf="!this.passwordMatched">le mot de passe ne correspond pas</p>
                </div>
                <p class="small-footer-text"> En cliquant sur<em> S'inscrire </em>, vous acceptez notre <a routerLink=""
                    class="def-font-color" (click)="goTerms()">
                    Conditions
                    d'utilisation </a></p>

                <div class="text-center mt-4 mb-2">
                  <button (click)="onSubmit()" class="btn btn-danger" [disabled]="!this.passwordMatched">S'inscrire
                  </button>
                  <div class="messages mt-4">
                    <p class="mb-1">Vous avez déjà un compte ?</p>
                    <button type="submit" class="btn btn-outline-danger" (click)="redirectLogin()">Se
                      connecter
                    </button>
                  </div>
                </div>
              </form>

            </section>
            <section id="success-signup" *ngIf="this.successSignup">
              <div class="alert alert-success" role="alert">
                <strong>votre compte a été créé avec succès</strong>
              </div>
              <div class="messages mt-2">
                <button type="submit" class="btn btn-outline-danger" (click)="redirectLogin()">Se connecter
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="signup-left-area">
          <img src="assets/home/images/signup.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
