<app-user-navbar></app-user-navbar>
<div class="page-container">
  <div class="row white"></div>
  <div class="container col-md-7">

    <div class="row  my-form rounded">
      <div class="col" *ngIf="!confirmedAccount">
        <div style="text-align:center;color:#9A2828;">
          <h3 class="title"><br>Confirmation de Compte</h3>
        </div>
        <section>
          <form novalidate [formGroup]="confirmForm" (ngSubmit)="onConfirm()">

            <div class="form-group md-form form-md">
              <i class="fa fa-lock prefix"></i>
              <input type="password" class="form-control" formControlName="password" placeholder="Mot de Passe">
            </div>
            <div class="form-group md-form form-md" *ngIf="true">
              <i class="fa fa-lock prefix"></i>
              <input type="password" class="form-control" formControlName="passwordConfirm" placeholder="Confirmation de Mot de Passe">
              <div id="password-test">
                <small *ngIf="confirmForm.controls.passwordConfirm.dirty && confirmForm.controls.passwordConfirm.value!=confirmForm.controls.password.value"
                  class="text-danger">
                  <i class="fa fa-exclamation-circle"> </i> Les 2 mots de passe doivent être égaux </small>
              </div>
            </div>
            <div class="text-center mt-4 mb-2">
              <button type="button" mat-raised-button class="myWarningButton" (click)="redirectHome()">Annuler <i class="fa fa-times-circle ml-3"></i>
              </button>
              <button type="submit" mat-raised-button class="mySuccessButton" [disabled]="!checkValidPassword(confirmForm.controls.passwordConfirm.value,confirmForm.controls.password.value)">Confirmer
                <i class="fa fa-send ml-3"></i> </button>
            </div>
            <!--<pre>{{confirmForm.value | json}}</pre>-->
          </form>
        </section>

      </div>
      <div class="col" *ngIf="confirmedAccount && typeoffre == undefined ">
        <section class="messages">
          <div class="alert alert-success  confirm-success" role="alert">

            <strong class="h5"><br>Félicitations , Votre compte a été activé<br></strong>


            <div><br><button mat-raised-button class="mySuccessButton" (click)="onLogin()">Se Connecter</button></div>
          </div>
        </section>

      </div>

    </div>
  </div>
</div>
