<button mat-icon-button class="btn close" (click)="close()">
  <mat-icon class="mat-icon-close">close</mat-icon>
</button>
<div class="row scroll">
  <div class="col-md-12">
    <p style="margin-left:0cm; margin-right:0cm; text-align:center"><strong><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">AUTORISATION
                DE
                CAPTATION ET D&rsquo;EXPLOITATION </span></span></span></span></strong></p>

    <p style="margin-left:0cm; margin-right:0cm; text-align:center"><strong><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">D&rsquo;ENREGISTREMENTS
                AUDIOVISUELS D&rsquo;UNE PERSONNE </span></span></span></span></strong></p>

    <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
            style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">J&rsquo;autorise
              &agrave; titre gracieux, la soci&eacute;t&eacute; KAKOO, &agrave; sauvegarder mon
              enregistrement audiovisuel dans le cadre de l&rsquo;entretien vid&eacute;o
              r&eacute;alis&eacute; par la soci&eacute;t&eacute; KAKOO et &agrave; la demande de ses
              clients &agrave; utiliser mon image. </span></span></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
            style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">En
              cons&eacute;quence de quoi, et conform&eacute;ment aux dispositions relatives au droit
              &agrave; l&rsquo;image et aux droits de la personnalit&eacute;, j&rsquo;autorise la
              soci&eacute;t&eacute; KAKOO &agrave; fixer, reproduire et communiquer au public les
              enregistrements audiovisuels effectu&eacute;s dans le cadre de cet entretien.</span></span></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm; text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
            style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">Ces
              enregistrements pourront &ecirc;tre exploit&eacute;s et utilis&eacute;s dans le cadre des
              actions d&rsquo;information et de communication de la soci&eacute;t&eacute; KAKOO et dans le
              cadre de ses activit&eacute;s, aupr&egrave;s des diff&eacute;rents clients, directement par
              KAKOO ou &ecirc;tre c&eacute;d&eacute;(e)s &agrave; des tiers, sous toute forme et tous
              supports connus et inconnus &agrave; ce jour, dans le monde entier, sans aucune limitation,
              pour une dur&eacute;e de 10 ans,<strong> </strong>int&eacute;gralement et par extraits, et
              notamment&nbsp;: </span></span></span></span></p>

    <p style="margin-left:0cm; margin-right:0cm; text-align:justify">&nbsp;</p>

    <ul>
      <li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">lors
                de projections publiques,</span></span></span></span></li>
      <li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">par
                t&eacute;l&eacute;diffusion, par tous r&eacute;seaux de transmission (en analogique ou
                num&eacute;rique par voie hertzienne, par c&acirc;ble ou satellite),</span></span></span></span></li>
      <li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">par
                tous r&eacute;seaux de communication &eacute;lectronique, tels qu&rsquo;Internet,</span></span></span></span></li>
      <li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">sur
                CD-Rom, DVD, Blu-Ray, cl&eacute; USB, Cloud..</span></span></span></span></li>
      <li style="text-align:justify"><span style="font-size:12pt"><span style="font-family:'Times New Roman',serif"><span
              style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">et
                plus g&eacute;n&eacute;ralement par tous moyens existants ou &agrave; venir.</span></span></span></span></li>
    </ul>

    <p><span style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'">La
          soci&eacute;t&eacute; KAKOO s&rsquo;interdit express&eacute;ment de proc&eacute;der &agrave; une
          exploitation des enregistrements susceptible de porter atteinte &agrave; la vie priv&eacute;e ou
          &agrave; la r&eacute;putation, &agrave; la </span></span><span style="font-size:11.0pt"><span style="font-family:'Arial Narrow','sans-serif'"><span
            style="color:black">dignit&eacute;
            ou &agrave; l&rsquo;int&eacute;grit&eacute; de ma personne.</span></span></span></p>
  </div>
</div>