.white{

    margin-bottom: 3em;
    background-color:white;

   
}
.page-container{
    background-color:white;
    margin-bottom:3em;
}
.my-form{
    background-color: white;
    padding-top: 20px; 
    padding-bottom: 20px; 
}


.messages{
    text-align:center;
}
.container{
    margin-bottom:4em;
}


.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }