<section class="sidebar-wrapper">
  <div class="sidebar-wrap">
    <ul>
      <li routerLink="/user/profile">profil de l'utilisateur</li>
      <li routerLink="/company/allusers">Espace Utilisateurs</li>
      <li routerLink="/candidate/list">Espace Candidats</li>
      <li routerLink="/quizz/create">Espace Recrutement</li>
      <li (click)="toggleMenu()" class="d-flex justify-content-between align-items-center">Espace RH <i class="fa fa-angle-down"></i></li>
      <ol *ngIf="this.toggleFlag">
        <li routerLink="/rh/list" routerLinkActive="active">Employés</li>
        <li routerLink="/client/list" routerLinkActive="active">Clients</li>
        <li routerLink="/task/list" routerLinkActive="active">Missions</li>
      </ol>
    </ul>
  </div>
</section> 