<app-client-header></app-client-header>

<div class="page-container">
  <div class="row white"></div>
  <div class="container col-md-7">
    <div class="row my-form rounded">
      <div class="col">

        <div style="text-align: center; color: #9A2828;">
          <h3 class="title" *ngIf="!editing"><br>Ajout d'un contact</h3>

          <h3 class="title" *ngIf="editing"><br>Modification d'un contact</h3>
        </div>

        <section>
          <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="example-container row">

              <mat-form-field class="col-sm-2">
                <mat-select placeholder="Civilité" formControlName="civility" required>
                  <mat-option value="Femme">Mme</mat-option>
                  <mat-option value="Homme">Mr</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Nom" formControlName="firstName" required/>
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Prénom" formControlName="lastName" required/>
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Poste" formControlName="poste" required/>
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Service" formControlName="service" required/>
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-2">
                <mat-select placeholder="État" formControlName="state" required>
                  <mat-option value="client">Client</mat-option>
                  <mat-option value="prospect">Prospect</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Email" formControlName="email" required/>
                <mat-error>Email invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-3">
                <input matInput placeholder="Téléphone" formControlName="phone" required/>
                <mat-error>Numéro invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Adresse" formControlName="address">
              </mat-form-field>

              <mat-form-field class="col-sm-3">
                <input matInput placeholder="Code postal" formControlName="postalCode"/>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Ville" formControlName="city">
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Pays" formControlName="country">
              </mat-form-field>
            </div>

            <div class="text-center mt-4 mb-2">
              <button type="button" mat-raised-button class="mySimpleButton" (click)="cancelOperation()">
                Annuler <i class="fa fa-times-circle ml-3"></i>
              </button>

              <button mat-raised-button type="submit" class="mySuccessButton" *ngIf="!editing">
                Ajouter <i class="fa fa-user-plus ml-3"></i>
              </button>

              <button mat-raised-button type="submit" class="myInfoButton" *ngIf="editing">
                Modifier <i class="fa fa-pencil ml-3"></i>
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
