<app-client-header></app-client-header>

<div class="page-container page-wrap" *ngIf="!loader">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-2">
        <app-client-sidebar></app-client-sidebar>
      </div>
      <div class="col-md-9 col-lg-9 col-xl-10">
        <div class="form-group">
          <h2 class="title" *ngIf="!editing">Ajout d'un client</h2>
          <h2 class="title" *ngIf="editing">Modification d'un client</h2>
        </div>
        <section class="white-card">
          <form novalidate [formGroup]="clientForm" (ngSubmit)="onSubmit()">
            <div class="example-container row">

              <mat-form-field class="col-sm-2">
                <mat-select placeholder="État" formControlName="state" required>
                  <mat-option value="client">Client</mat-option>
                  <mat-option value="prospect">Prospect</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>

              <div class="col-sm-1"></div>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Nom de la société" formControlName="name" required />
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Secteur d'activité" formControlName="activityArea" required />
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Téléphone" formControlName="phone" required />
                <mat-error>Numéro invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Web Site" formControlName="webSite" />
                <mat-error>Lien invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Email" formControlName="email" />
                <mat-error>Email invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Lieu" formControlName="locality" required />
                <mat-error>Champs obligatoire</mat-error>
              </mat-form-field>

              <div class="col-sm-12">
                <textarea matInput placeholder="Informations sur la société" formControlName="description" cols="30"
                  rows="10"></textarea>
              </div>
            </div>

            <div class="text-center mt-4 mb-2">
              <button type="button" class="btn btn-outline-danger" (click)="cancelOperation()">
                Annuler
              </button>

              <button type="submit" class="btn btn-danger" *ngIf="!editing">
                Ajouter
              </button>

              <button type="submit" class="btn btn-outline-danger" *ngIf="editing">
                Modifier
              </button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="loader"></div>
