.white{
   
    margin-bottom: 1em;
    background-color:white;

   
}
.page-container{
    background-color:white;
    margin-bottom:4em;
}
.my-form{
    background-color: white;
}
.modal-header{
    background-color:	#9A2828;
    
    text-align:center;

}
.confirm-success{
    margin-left:-1em;
    width:104.5%;
    padding-bottom:4em;
    margin-bottom:-3em;


}
.messages{
    text-align:center;
}
#password-test{
    max-height:2em;
    min-height:2em;

  //  background-color :black;
    margin-left:3em;
}