<app-user-navbar></app-user-navbar>
<div class="page-container">
  <div class="container login-sec">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="login-left-area">
          <img src="assets/home/images/login.png" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="loginform">
          <p class="welcome-text">Welcome to</p>
          <div class="logo-area">
            <img src="assets/home/images/logo.png" alt="">
            <p>akoo Software</p>
          </div>
          <div class="col" *ngIf="!confirmedAccount">
            <div class="connect-text">
              <h3 class="title">Réinitialisation de mot de passe</h3>
            </div>
            <section>
              <form novalidate [formGroup]="resetForm" (ngSubmit)="onReset()">
                <div class="form-group md-form form-md">
                  <input type="password" class="form-control" formControlName="password" placeholder="Mot de Passe">
                </div>
                <div class="form-group md-form form-md" *ngIf="true">
                  <input type="password" class="form-control" formControlName="passwordConfirm"
                    placeholder="Confirmation de Mot de Passe">
                  <div id="password-test">
                    <small
                      *ngIf="resetForm.controls.passwordConfirm.dirty && resetForm.controls.passwordConfirm.value!=resetForm.controls.password.value"
                      class="text-danger">
                      <i class="fa fa-exclamation-circle"> </i> Les 2 mots de passe doivent être égaux </small>
                  </div>
                </div>
                <div class="text-center mt-4 mb-2">
                  <button type="submit" class="btn btn-danger"
                    [disabled]="!checkValidPassword(resetForm.controls.passwordConfirm.value,resetForm.controls.password.value)">Confirmer</button>
                  <button type="button" class="btn btn-outline-danger" (click)="redirectHome()">Annuler</button>
                </div>
              </form>
            </section>

          </div>
          <div class="col" *ngIf="confirmedAccount">
            <section class="messages">
              <div class="alert alert-success  confirm-success" role="alert">
                <h5>Félicitations , Votre mot de passe a été modifié</h5>
                <button type="button" class="btn btn-danger-outline" (click)="onLogin()">se Connecter</button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
