<app-candidate-header></app-candidate-header>
<div class="page-container page-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-2">
        <app-candidate-sidebar></app-candidate-sidebar>
      </div>
      <div class="col-md-9 col-lg-9 col-xl-10">
        <div class="form-group">
          <h2 class="title" *ngIf="!editing">Ajout d'un candidat</h2>
          <h2 class="title" *ngIf="editing">Modification de candidat</h2>
        </div>
        <section class="white-card">
          <form novalidate [formGroup]="candidateForm" (ngSubmit)="onSubmit()">

            <div class="example-container row">
              <mat-form-field class="col-sm-2">
                <mat-select placeholder="Civilité" formControlName="civility">
                  <mat-option value="Femme">Mme</mat-option>
                  <mat-option value="Homme">Mr</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>

              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Nom" formControlName="lastName" required>
                <mat-error>Champs obligatoire & 5 caractères minimum</mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-5">
                <input matInput placeholder="Prénom" formControlName="firstName" required>
                <mat-error>Champs obligatoire & 5 caractères minimum</mat-error>
              </mat-form-field>
              <br><br><br><br>


              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Poste" formControlName="profile">
                <mat-error>Champs invalide & 5 caractères minimum</mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-4">
                <mat-select placeholder="Mobilité" formControlName="mobility">
                  <mat-option value="France entière">France entière</mat-option>
                  <mat-option value="Auvergne-Rhone-Alpes">Auvergne-Rhone-Alpes</mat-option>
                  <mat-option value="Bourgogne-Franche-Comté">Bourgogne-Franche-Comté</mat-option>
                  <mat-option value="Bretagne">Bretagne</mat-option>
                  <mat-option value="Centre-Val de Loire">Centre-Val de Loire</mat-option>
                  <mat-option value="Corse">Corse</mat-option>
                  <mat-option value="Grand-Est">Grand-Est</mat-option>
                  <mat-option value="Hauts-de-France">Hauts-de-France</mat-option>
                  <mat-option value="Ile-de-France">Ile-de-France</mat-option>
                  <mat-option value="Normandie">Normandie</mat-option>
                  <mat-option value="Nouvelle-Aquitaine">Nouvelle-Aquitaine</mat-option>
                  <mat-option value="Occitanie">Occitanie</mat-option>
                  <mat-option value="PACA">PACA</mat-option>
                  <mat-option value="Pays de La Loire">Pays de La Loire</mat-option>
                  <mat-option value="Autre">Autre</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-4">
                <mat-select placeholder="Expérience" formControlName="experience">
                  <mat-option [value]=0>Sans Expérience</mat-option>
                  <mat-option [value]=1>1 année</mat-option>
                  <mat-option *ngFor="let i of [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,16,17,18,19]" [value]=i>{{i}}
                    années</mat-option>
                  <mat-option [value]=20>+20 année</mat-option>
                </mat-select>
                <mat-error>Champs invalide</mat-error>
              </mat-form-field>

              <br><br><br><br>
              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Adresse" formControlName="address" required>
                <mat-error>Champs obligatoire & 5 caractères minimum</mat-error>
              </mat-form-field>
              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Email" required formControlName="email">
                <mat-error>Email invalide</mat-error>
              </mat-form-field>
              <br><br><br><br>
              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Téléphone" formControlName="mobilePhone">
                <mat-error>Numéro invalide & 10 caractères minimum</mat-error>
              </mat-form-field>
              <!-- <div class="form-group md-form form-md col-sm-6 ">
                            <div class="row">
                              <div class="  col-sm-2 "></div>
                              <div class="col-sm-4"><input type="radio" formControlName="gender" value="Homme"style="margin-top:1.2em;" > Homme</div>
                              <div class="col-sm-4"><input  type="radio" formControlName="gender" value="Femme" style="margin-top:1.2em;"> Femme</div>
                            </div>
                          </div>
                        -->


            </div>
            <div class="text-center mt-4 mb-2">
              <button type="button" class="btn btn-outline-danger" (click)="cancelOperation()">Annuler
                </button>
              <button type="submit" class="btn btn-danger" [disabled]="!candidateForm.valid"
                *ngIf="!editing">Ajouter </button>
              <button type="submit" class="btn btn-danger" [disabled]="!candidateForm.valid"
                *ngIf="editing">Modifier </button>
            </div>
            <!--<pre>{{candidateForm.value | json}}</pre>-->
          </form>
        </section>

      </div>

    </div>
  </div>
</div>
