<app-user-navbar></app-user-navbar>
<div class="page-container">
    <div class="row white"></div>

    <div class="container col-md-7">


        <div class="row  my-form rounded">

            <div class="col">
                <br>
                <!--  <div class="alert alert-danger" role="alert" *ngIf="errorMessage && !loader &&!confirmEmail ">
                    <strong>Echec dajout de collaborateur , Réessayer!</strong>
                  </div>-->
                <div style="text-align:left;color:#9A2828;" *ngIf="!confirmEmail && !loader">
                    <h5><br>Remplissez ce formulaire pour ajouter un nouveau collaborateur </h5>
                </div>

                <section *ngIf="!confirmEmail && !loader">
                    <form novalidate [formGroup]="rhForm">
                        <br>
                        <div class="example-container row">

                            <mat-form-field class="col-sm-6">
                                <input matInput placeholder="Nom" formControlName="lastName" required>
                                <mat-error>Champs obligatoire</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-sm-6">
                                <input matInput placeholder="Prénom" formControlName="firstName" required>
                                <mat-error>Champs obligatoire</mat-error>
                            </mat-form-field>
                            <br><br><br><br>
                            <mat-form-field class="col-sm-6">
                                <input matInput placeholder="Identifiant" required formControlName="username" required>
                                <mat-error>Champs obligatoire</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-sm-6">
                                <input matInput placeholder="Email" required formControlName="email">
                                <mat-error *ngIf="!emailExist">Email invalide</mat-error>
                                <mat-error *ngIf="emailExist">Un utilisateur avec cet email existe déjà</mat-error>

                            </mat-form-field>
                            <br><br><br><br>
                            <mat-form-field class="col-sm-6">
                                <mat-select placeholder="Poste" formControlName="userRole" required>
                                    <mat-option value="ADMIN">Administrateur</mat-option>
                                    <mat-option value="RH">Ressources humaines</mat-option>
                                    <!--<mat-option value="Commercial">Commercial</mat-option>-->


                                </mat-select>
                                <mat-error>Champs obligatoire</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-sm-6">
                                <input matInput placeholder="Téléphone" formControlName="phone" required>
                                <mat-error>Téléphone invalide</mat-error>
                            </mat-form-field>

                        </div>
                        <div class="text-center mt-4 mb-2">

                            <button type="button" mat-raised-button class="mySimpleButton" (click)="redirectAllUsersPage()">Annuler
                                <i class="fa fa-times-circle ml-3"></i> </button>
                            <button mat-raised-button type="button" class="mySuccessButton" [disabled]="false" (click)="createRh()">Ajouter
                                <i class="fa fa-user-plus ml-3"></i> </button>
                        </div>
                        <!-- <pre>{{rhForm.value | json}}</pre>-->
                    </form>

                </section>
                <section *ngIf="confirmEmail" id="success-signup">
                    <!--<div class="text-center">
                        <button class="myButton2" (click)="refresh()"> Ajouter un autre utilisateur</button>
                        <button class="myButton2" (click)="goProfile()"> Revenir vers ma page personnelle</button>
                    </div>
                    <br>-->
                    <div class="alert alert-success" role="alert">
                        <strong>Ajout réussi de l'utilisateur RH , Un mail lui a été envoyé pour valider son compte !</strong>
                    </div>

                </section>
                <div class="loader" *ngIf="loader"></div>

            </div>

        </div>
    </div>
</div>
