.main {
  background-color: white;
}
.white {
  margin-bottom: 3em;
  background-color: white;
}
.page-container {
  background-color: white;
}
.my-form {
  background-color: white;
}
.modal-header {
  background-color: #9a2828;
}
#idinout.key {
  font-family: "password";
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
//tooltips

[tooltip] {
  position: relative;
  z-index: 4;
  cursor: pointer;
}

[tooltip] {
  border-width: 0px;
}

[tooltip]:focus {
  outline: none;
}

[tooltip]::before,
[tooltip]::after {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
  pointer-events: none;
  overflow: visible;
}

[tooltip]::before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #9a2828;
  color: #fff;
  content: attr(tooltip);
  //text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2;
}

[tooltip]::after {
  position: absolute;
  bottom: -150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: -5px solid #9a2828;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  pointer-events: auto;
  opacity: 1;
}

.table-active,
.table-active > td,
.table-active > th {
  background-color: #fff;
}
.table-active tbody .h6 {
  font-weight: 400;
}
