@import "../../../assets/sass/var";
.changed-color {
    background-color: white;
}
img {
    width: 1.5em;
    height: 1.5em;
}
.nav-link {
    color: $defaultColor;
}
.navbar-nav.mr-auto li a {
    color: $defaultColor;
    font-weight: 500;
}
input::placeholder {
    color: defaultColor;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $defaultColor;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}
input[type="password"] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid defaultColor;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 5%;
}
.fa.fa-th {
    font-size: 1.5em;
    color: defaultColor;
}
.fa-bell-o {
    font-size: 1.5em;
    color: defaultColor;
}
.fa.fa-paperclip {
    font-size: 1.5em;
    color: defaultColor;
}
.img {
    margin-top: -0.5em;
    width: 2em;
    height: 2em;
}

#right {
    margin-right: 1em;
}
.dropdown-item {
    background-color: #f9f9f9;

    &:hover {
        color: defaultColor;
    }
}
#user-image {
    margin-top: -0.5em;
}

.badge {
    position: absolute;
    top: -3px;
    left: 24px;
    font-size: 14px;
    line-break: strict;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: $defaultColor;
    border: 1px solid $defaultColor;
    color: #fff;
    text-align: center;
}
