<app-user-navbar></app-user-navbar>
<div class="page-container page-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-2">
        <app-user-sidebar></app-user-sidebar>
      </div>
      <div class="col-md-9 col-lg-9 col-xl-10">
        <div class="form-group">
          <h2>Paramètres</h2>
        </div>

        <div class="white-card">
          <p id="password-change" class="h6 bordered"><i class="fa fa-lock"></i><a (click)="change=!change"> Modifier
              le
              mot de passe</a> </p>
          <div *ngIf="true">
            <section>
              <form novalidate [formGroup]="changeForm" (ngSubmit)="changePassword()">
                <div class="form-group md-form form-md">
                  Mot de passe Actuel
                  <input type="password" class="form-control" formControlName="oldpassword">
                </div>

                <div class="form-group md-form form-md">
                  Nouveau Mot de passe
                  <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="form-group md-form form-md" *ngIf="true">
                  Confirmer le nouveau Mot de passe
                  <input type="password" class="form-control" formControlName="passwordConfirm">
                  <small
                    *ngIf="changeForm.controls.passwordConfirm.dirty && changeForm.controls.passwordConfirm.value!=changeForm.controls.password.value"
                    class="text-danger">
                    <i class="fa fa-exclamation-circle"> </i><strong>Les 2 mots de passe ne sont pas égaux
                    </strong></small>
                </div>
                <div class="mt-4">
                  <button class="btn btn-danger"
                    [disabled]="!checkValidPassword(changeForm.controls.passwordConfirm.value,changeForm.controls.password.value)">Confirmer</button>
                </div>
              </form>
            </section>
          </div>
          <br>
          <br>
          <!--  <p class="h6"><i class="fa fa-envelope"></i> Modifier Votre addresse email </p>-->

          <br>
          <!-- <p class="h6"><i class="fa fa-bank"></i> Modifier les coordonnées de la société </p>-->
          <!--<table class=" table btn-table table-active ">
            <tr>
              <th class="item "style="width:30%;">Nom<th>
              <th style="width:70%;"> {{firstName | titlecase}} {{lastName | uppercase}}</th>
            </tr>
            <tr>
                <th class="item " >Email<th>
                <th >{{mail}}</th>
            </tr>
            <tr>
                <th class="item ">Téléphone<th>
                <th >{{phone}}</th>
            </tr>
            <tr>
                <th class="item " >Nom d'utilisateur<th>
                <th >{{username}}</th>
            </tr>
            <tr>
                <th class="item ">Poste<th>
                <th >{{role | titlecase}}</th>
            </tr>
          </table>-->
          <!--<p class="h6"><i class="fa fa-bank"></i>Données de la société</p>
          <table class="table btn-table table-active ">
            <tr>
              <th class="item "style="width:30%;">Nom<th>
              <th style="width:70%;"> {{companyName | titlecase}}</th>
            </tr>
            <tr>
                <th class="item " >Adresse<th>
                <th >{{companyAddress}}</th>
            </tr>
            <tr>
                <th class="item ">Téléphone<th>
                <th >{{companyPhone}}</th>
            </tr>

            <tr>
                <th class="item " >Type de société<th>
                <th >{{companyType}}</th>
            </tr>
          </table>
        -->
        </div>
      </div>
    </div>
  </div>
</div>
