.profile{
    background-color:white;
    margin-top:3em;
}
.table{
 
    margin-bottom:1.5em;
    margin-top:1em;
  }
  .item{
    font-size:1em;
    color:#555;
    
  }
  .material-icons {
    font-size: 17px;
}
.mysub-title{
    margin-top: 1em;
    color: #9a2828;
    padding-top: 1.5em;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1px;
    margin-bottom: 39px;
}