<app-user-navbar></app-user-navbar>
<div class="page-container">
  <div class="container login-sec">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="login-left-area">
          <img src="assets/home/images/img-20.png" alt="">
        </div>
      </div>
      <div class="col-md-5">
        <div class="loginform">
          <p class="welcome-text">Welcome to</p>
          <div class="logo-area">
            <img src="assets/home/images/logo.png" alt="">
            <p>kakoo Software</p>
          </div>
          <div class="row  my-form rounded">
            <div class="col" *ngIf="!resetSuccess">
              <div class="connect-text">
                <h3 class="title">Connectez vous à kakoo</h3>
              </div>
              <section class="messages">
                <div class="alert alert-info" role="alert" *ngIf="getPassword && !resetFailure">
                  <p class="titl">Entrez votre adresse pour recevoir un code d'activation </p>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="resetFailure ">
                  <p class="title">Votre email ne figure pas parmi la liste de nos clients, Réessayez ou
                    <a style="text-decoration:underline;" (click)=" redirectSignup()">Inscrivez vous </a>
                  </p>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="b">
                  <p>Inscription Réussie , Connectez vous !</p>
                </div>
              </section>
              <section>
                <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                  <div class="form-group md-form form-md">
                    <input type="email" class="form-control" formControlName="username" placeholder="Email">
                  </div>
                  <div class="form-group md-form form-md" *ngIf="!getPassword">
                    <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
                  </div>
                  <div id="password-div">
                    <a id="forgot-password" *ngIf="!getPassword" (click)="getPassword=true">
                      <strong>Mot de passe oublié?</strong>
                    </a>
                  </div>
                  <div class="text-center mt-4 mb-4">
                    <button type="submit" class="btn btn-danger" *ngIf="!getPassword" [disabled]="false">Se
                      connecter
                    </button>
                    <button class="btn btn-danger" *ngIf="getPassword"
                      (click)="getPassword=false;resetFailure=false">Annuler</button>
                    <button class="btn btn-danger" *ngIf="getPassword"
                      (click)="loader=true;setupPassword(loginForm.controls.username.value)">Récupérer
                      mon compte</button>
                  </div>
                  <div class="messages">
                    <p>Vous n'avez pas encore de compte ?<br>
                      <span style="color:#9A2828;">
                        <a (click)="redirectSignup()">Inscrivez-vous</a>
                      </span>
                    </p>
                  </div>
                  <div class="row">
                    <div class="loader" *ngIf="loader"></div>
                  </div>
                </form>
              </section>
            </div>
            <div class="col" *ngIf="resetSuccess">
              <section class="messages ">
                <div class="alert alert-info confirm-success" role="alert">
                  <strong class="h5">
                    <br>Consulter votre boite mail pour réinitialiser votre mot de passe</strong>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
