/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./assets/sass/var";
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  p {
    font-size: 0.875rem;
  }
  a {
    color: #8a1d20;
    &:hover {
      color: #641818;
    }
  }
}

.my-mat-dialog-container .mat-dialog-container {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 24px;
}

// icons fontawsome
.red-text {
  color: #b11414 !important;
}

.toggle .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle input:checked + .slider {
  background-color: #2196f3;
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle .slider.round {
  border-radius: 34px;
}

.toggle .slider.round:before {
  border-radius: 50%;
}
#jitsi-iframe iframe {
  width: 100% !important;
  height: 85vh !important;
}
body {
  .m-b-0 {
    margin-bottom: 0;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn[class*="btn-outline-"] {
    padding: 0.5rem 1.5rem;
  }
  .btn {
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
    &.btn-lg {
      padding: 0.75rem 1.75rem;
      font-size: 1.15rem;
    }
    &.btn-outline-danger {
      border-color: #9a2828;
      text-transform: uppercase;
      background-color: #fff;
      color: #9a2828 !important;
      &:hover,
      &:focus {
        background-color: #641818 !important;
        color: #fff !important;
      }
    }
    &.btn-danger {
      background-color: #9a2828;
      border-color: #9a2828;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: #641818 !important;
        border-color: #641818 !important;
      }
    }
    &.btn-round {
      border-radius: 30px;
    }
  }
  input.form-control {
    border: 2px solid rgba(0, 0, 0, 0.08);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 0.65rem 1rem;
    border-radius: 4px;
    height: auto;
    margin: 0;
    width: calc(100% - 2rem);
    &:focus {
      box-shadow: none !important;
      border: 2px solid #9a2828 !important;
    }
  }

  .myButton3 {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #9a2828;
    display: inline-block;
    cursor: pointer;
    color: #9a2828 !important;
    font-size: 14px !important;
    padding: 0;
    width: 45px !important;
    height: 35px;
    text-align: center;
    line-height: 2 !important;
    i {
      color: #9a2828 !important;
    }
  }

  .myButton3:hover {
    background-color: #9a2828;
    color: #fff !important;
    i {
      color: #fff !important;
    }
  }
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
li,
ul,
ol,
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button,
.mat-option,
.mat-select,
.mat-input-element,
.mat-tab-label,
.mat-tab-link,
.mat-tab-group,
.mat-form-field,
.mat-menu-item,
.mat-form-field-label {
  font-family: "Poppins", sans-serif !important;
}
.page-container {
  &.page-wrap {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f3f3f3 !important;
    min-height: 80vh !important;
  }
}
.sidebar-wrapper {
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 #a9a9a924, 0 1px 10px 0 #0000001f, 0 2px 4px -1px #a5a5a54d;
  padding: 1rem 0.5rem;
  background-color: #fff;
  .sidebar-wrap {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        font-size: 16px;
        color: #1e1e1e;
        font-weight: 500;
        line-height: 46px;
        border-radius: 8px;
        padding: 0 15px;
        cursor: pointer;
        margin-bottom: 2px;
        &.active,
        &:hover {
          background-color: #ffebee;
          color: #641818;
        }
      }
    }
    ol {
      list-style-type: disc;
      margin: 0;
      li {
        font-size: 16px;
        color: #1e1e1e;
        font-weight: 500;
        line-height: 38px;
      }
    }
  }
}

body {
  .white-card {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
  }
  .pagination {
    margin-top: 1.5rem;
    .page-item {
      &.disabled {
        a {
          background-color: #ececec;
        }
      }
      .page-link {
        padding: 5px 10px;
      }
      &.active {
        .page-link {
          background-color: #9a2828;
          color: #fff;
        }
      }
    }
  }
}
body {
  .row {
    .col-lg-3 {
      @media screen and (min-width: 992px) {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
    .col-lg-9 {
      @media screen and (min-width: 992px) {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
      }
    }
    .col-xl-2 {
      @media screen and (min-width: 1440px) {
        -ms-flex: 0 0 16.66667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
      }
    }
    .col-xl-10 {
      @media screen and (min-width: 1440px) {
        -ms-flex: 0 0 83.33333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
      }
    }
  }
}
.nav-profile {
  display: block;
  min-width: 150px;
  font-weight: 600;
}
.mat-menu-panel {
  position: absolute !important;
  top: 46px !important;
  left: -30px;
}
.mat-tab-label {
  background-color: #fff !important;
  opacity: 1 !important;
  &:hover {
    color: #9a2828 !important;
    background-color: #ffe5e5 !important;
  }
}
.notification-icon {
  color: rgba(0,0,0,.54) !important;
}
.full-width {
  input.form-control {
    width: 100% !important;
  }
}
.error-msg {
  color: red;
  font-size: 12px;
  display: block;
}
input.mat-input-element {
  border-bottom: none !important;
  box-shadow: none !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}