<app-header></app-header>

<body id="page-top" class="kakoo-color">
    <div class="empty"></div>


    <section class="">
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">
                            <img src="./assets/home/images/newlogokako.png" height="30" alt="">
                            <Strong style="font-weight: bold; font-size: 40px;">AKOO</Strong>
                        </h2>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <div class="txt">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-users animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Gestion des RH</h3>
                            <p class="text-muted mb-0">
                                <strong>Une gestion intelligente du capital humain.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-user-circle-o animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Recrutement</h3>
                            <p class="text-muted mb-0">
                                <strong>Gagner du temps grâce à notre système intelligent qui qualifie, challenge et
                                    prévoie même les
                                    disponibilités des candidats.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-id-card animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Connectivité</h3>
                            <p class="text-muted mb-0">
                                <strong>Un lieu d'échange riche à forte valeur ajoutée.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-video-camera animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Entretien en ligne</h3>
                            <p class="text-muted mb-0">
                                <strong>Gagner du temps grâce aux entretiens en ligne.</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-database animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Big Data</h3>
                            <p class="text-muted mb-0">
                                <strong>Traitement d'un grand volume de données pour un choix pertinent.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-connectdevelop animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Cortex</h3>
                            <p class="text-muted mb-0">
                                <strong>Grâce à note algorithme basé sur le deeplearning, Nous sommes capables de vous
                                    prédire les meilleurs candidats qu'ils vous faut.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-superpowers animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Performance</h3>
                            <p class="text-muted mb-0">
                                <strong>Suivre régulièrement la performance de vos collaborateurs.</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box mt-5 mx-auto">
                            <i class="fa fa-4x fa-shopping-bag animate mb-3 sr-icons"></i>
                            <h3 class="mb-3">Marketplace</h3>
                            <p class="text-muted mb-0">
                                <strong>Un inter-contrat ! Un projet en forfait ! Partagez le tout sur notre
                                    Marketplace.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="empty"></div>
        <section class="">
            <div class="container text-center">
                <h2 style="font-weight: bold;" class="mb-4">Commencer l'aventure</h2>
                <button mat-raised-button class="mySimpleButton" (click)="redirectRegistration()">Inscrivez-vous !</button>
            </div>
        </section>
        <div class="empty"></div>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading">Contactez-nous!</h2>
                        <hr class="my-4">
                        <p class="mb-5">Plusieurs fonctionnalités futuristes sont maintenant disponibles grâce à Kakoo
                            !</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center">
                        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                        <p>+33(0)1 84 20 25 15</p>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                        <p>
                            <a>contact@kakoorh.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!--
    <app-chatbot *ngIf="showChatBox"></app-chatbot>
    <div class="open-chat-box">
        <button class="mySimpleButton join{{showChatBox}}" (click)="showChatBox=!showChatBox">
            <span *ngIf="!showChatBox">Join us now !</span>
            <span *ngIf="showChatBox" style="margin-right: 25%;"><i class="fa fa-remove fa-lg"></i></span>

        </button>

    </div>
-->
    <app-chatbot></app-chatbot>
</body>