<!doctype html>
<html lang="en">

<head>
  <title>KAKOORH SOFTWARE</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="KAKOORH est une suite de logiciels interconnectés qui révolutionnent le métier du ressource humaine.">
  <meta name="keywords" content="data search cv deep learning  maching learning AI IA candidate resources ">

  <!-- Font -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
  <link href="/assets/home/css/style.min.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

  <!-- Nav Menu -->

  <div class="nav-menu fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-dark navbar-expand-lg">
            <a class="navbar-brand" routerLink="">
              <div class="logo-area">
                <img width="30px" height="30px" src="assets/home/images/logo.png" class="img-fluid" alt="logo">
                <p>kakoo Software</p>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
              aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon">
                <i class="fa fa-navicon"></i>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a class="nav-link active" href="#home">
                    <!-- <i class="fa fa-home"></i> -->
                    Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#features">
                    <!-- <i class="fa fa-cog"></i> -->
                    Fonctionnalités</a> </li>

                <li class="nav-item"> <a class="nav-link" (click)="animatePricing()" href="#pricing">
                    <!-- <i class="fa fa-book"></i> -->
                    Nos offres</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#essay">
                    <!-- <i class="fa fa-calendar"></i> -->
                    Essai gratuit</a> </li>

                <li class="nav-item"> <a class="nav-link" href="#contact">
                    <!-- <i class="fa fa-phone"></i> -->
                    Contact</a> </li>
                <li class="nav-item"><button (click)="redirectLogin()" class="mySimpleButton">Se
                    Connecter</button></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>





  <header class="bg-gradient" id="home">

    <div class="txt">
      <p class="meilleurs-container container">
        <span class="mrs">Kakoo</span>
        <span class="mrs">est</span>
        <span class="mrs">une suite</span>
        <span class="mrs">de logiciels </span>
        <span class="mrs">interconnectés</span>
        <span class="mrs">qui révolutionnent</span>
        <span class="mrs">le métier</span>
        <span class="mrs">du </span>
        <span class="mrs">ressource</span>
        <span class="mrs"> humaines.</span>
      </p>
    </div>
  </header>

  <div class="container section serv-sec mt-5" id="features">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-users animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Gestion des RH</h3>
          <p class="text-muted mb-0">
            <strong>Une gestion intelligente du capital humain.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6  mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-user-circle-o animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Recrutement</h3>
          <p class="text-muted mb-0">
            <strong>Gagner du temps grâce à notre système intelligent qui qualifie, challenge et
              prévoie même les
              disponibilités des candidats.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-id-card animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Connectivité</h3>
          <p class="text-muted mb-0">
            <strong>Un lieu d'échange riche à forte valeur ajoutée.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-video-camera animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Entretien en ligne</h3>
          <p class="text-muted mb-0">
            <strong>Gagner du temps grâce aux entretiens en ligne.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-database animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Big Data</h3>
          <p class="text-muted mb-0">
            <strong>Traitement d'un grand volume de données pour un choix pertinent.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-connectdevelop animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Cortex</h3>
          <p class="text-muted mb-0">
            <strong>Grâce à note algorithme basé sur le deeplearning, Nous sommes capables de vous
              prédire les meilleurs candidats qu'ils vous faut.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-superpowers animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Performance</h3>
          <p class="text-muted mb-0">
            <strong>Suivre régulièrement la performance de vos collaborateurs.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 text-center">
        <div class="service-box mx-auto">
          <i class="fa fa-4x fa-shopping-bag animate mb-3 sr-icons"></i>
          <h3 class="mb-3">Marketplace</h3>
          <p class="text-muted mb-0">
            <strong>Un inter-contrat ! Un projet en forfait ! Partagez le tout sur notre
              Marketplace.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="services-sec">
    <div class="container section mt-5" id="features">
      <div class="row">
        <div class="col-lg-2 col-md-6 mb-5 text-center">
          <!-- <h5 class="mt-5">Services</h5> -->
          <h2>Residential Cleaning</h2>
        </div>
        <div class="col-lg-10 col-md-6 mb-5 text-center">
          <div class="left-grey-box">
            <div class="row">
              <div class="col-lg-3 col-md-6 mb-5 text-center">
                <div class="service-box mx-auto">
                  <i class="fa fa-4x fa-users animate mb-3 sr-icons"></i>
                  <h3 class="mb-3">Gestion des RH</h3>
                  <p class="text-muted mb-0">
                    <strong>Une gestion intelligente du capital humain.</strong>
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6  mb-5 text-center">
                <div class="service-box mx-auto">
                  <i class="fa fa-4x fa-user-circle-o animate mb-3 sr-icons"></i>
                  <h3 class="mb-3">Recrutement</h3>
                  <p class="text-muted mb-0">
                    <strong>Gagner du temps grâce à notre système intelligent qui qualifie, challenge et
                      prévoie même les
                      disponibilités des candidats.</strong>
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-5 text-center">
                <div class="service-box mx-auto">
                  <i class="fa fa-4x fa-id-card animate mb-3 sr-icons"></i>
                  <h3 class="mb-3">Connectivité</h3>
                  <p class="text-muted mb-0">
                    <strong>Un lieu d'échange riche à forte valeur ajoutée.</strong>
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 mb-5 text-center">
                <div class="service-box mx-auto">
                  <i class="fa fa-4x fa-video-camera animate mb-3 sr-icons"></i>
                  <h3 class="mb-3">Entretien en ligne</h3>
                  <p class="text-muted mb-0">
                    <strong>Gagner du temps grâce aux entretiens en ligne.</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
    <div class="client-logos my-5">
    <div align="center">
      <h3>ILS NOUS FONT CONFIANCE </h3>
    </div>
    <div class="container text-center">
      <a href="https://www.moneycore.fr" target="_blank"><img src="assets/home/images/logo_Moneycore.png" alt="client logos"
          class="img-fluid"></a>
      <a href="https://xorvalue.com/" target="_blank"><img src="assets/home/images/logo-xorvalue-Small.png" alt="client logos"
          class="img-fluid"></a>

    </div>
  </div>
-->

  <!--
  
-->



  <div class="function light-bg">
    <div class="container">
      <div class="section-title">
        <h3>Plus de fonctionnalités</h3>
      </div>

      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#entretienvideo">Entretien Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#schedule">Demande un démo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#test_technique">Test Technique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#analyse_cv">Deeplearning</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="entretienvideo">
          <div class="d-flex flex-column flex-lg-row">
            <img src="assets/home/images/visioconf.jpg" alt="graphic"
              class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
            <div>

              <h3>Entretien visioconférence</h3>
              <p class="lead">La simplicite est nos clefs
              </p>
              <p>Nous sommes uniques, puissants et pleins d'énergie pour donner le meilleur à nos
                clients
                et pour permettre aux ressources humaines de se concentrer sur
                leurs activités plutôt que sur des problèmes techniques. C'est pour cela nos outils
                de
                vidéoconférence peuvent mettre un défi entre les candidats et vous permettre de
                choisir
                facilement le meilleur d'entre eux.
              </p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="schedule">
          <div class="d-flex flex-column flex-lg-row">
            <div>
              <h3>Planifier quand vous voulez</h3>
              <p class="lead">nous sommes toujours à votres disponibilité
              </p>
              <p>Vous pouvez demander une periode adequate à votre disponibilité pour une
                demonstration
                de nos produits avec nos expert technique 24/24;
              </p>
            </div>
            <img src="assets/home/images/PLANNINGTIME.jpg" alt="graphic"
              class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
          </div>
        </div>
        <div class="tab-pane fade" id="test_technique">
          <div class="d-flex flex-column flex-lg-row">
            <img src="assets/home/images/testtechnique.jpg" alt="graphic"
              class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
            <div>
              <h3>Test Technique de votre choix</h3>
              <p class="lead">Plusieur Test Technique disponible sur notre plateform.
              </p>
              <p>Nous sommes en mesure de détecter le meilleur candidat grâce à notre test technique
                d'intelligence, nous utilisons les meilleurs outils pour donner le meilleur
                résultat.</p>
              <p>
                Chaque test technique se joignant avec un score et une Chart Graphique sur les
                compétences du candidat.</p>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="analyse_cv">
          <div class="d-flex flex-column flex-lg-row">
            <div>
              <h3>Deeplearning & IA </h3>
              <p class="lead">analyse des CV en masse</p>
              <p>Votre temps est un or, Nous utilisons les meilleurs techniques pour répondre aux
                besoins
                de nos clients en utilisant de l 'Intelligence Artificiel, Deeplearning et Maching
                Learning pour analyser rapidement les CV en masse des candidats
              </p>
            </div>
            <img src="assets/home/images/cvparsing.png" alt="graphic"
              class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0">
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- // end .section -->
  <!--
    <div class="section">

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/home/images/choosing-the-perfect-candidate.jpg" alt="dual phone" class="img-fluid">
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <div>
            <h2>Les Meilleurs Candidates</h2>
            <p class="mb-4"></p>
          </div>
        </div>
      </div>

    </div>

  </div>
-->


  <!-- section-->
  <div class="section" id="pricing">

    <app-offres></app-offres>
  </div>
  <!-- // end .section -->

  <!-- section-->
  <div class="section light-bg" id="essay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex align-items-center">
          <ul class="list-unstyled ui-steps">
            <li class="media">
              <div class="circle-icon mr-4">1</div>
              <div class="media-body">
                <h5>Créer un compte</h5>
                <p>La création de compte est simple et rapide, seulement vos informations
                  personelles
                  et de votre entreprise</p>
              </div>
            </li>
            <li class="media my-4">
              <div class="circle-icon mr-4">2</div>
              <div class="media-body">
                <h5>Choisir un abonnement</h5>
                <p>Nos abonnement sont choisis spécialement pour accompagner vos besoins</p>
              </div>
            </li>
            <li class="media">
              <div class="circle-icon mr-4">3</div>
              <div class="media-body">
                <h5>Bénéficier de l'Intelligence kakoo</h5>
                <p>Kakoo est basé sur Intelligence Artificielle , machine learning ,deep learning
                  et
                  les nouvelles technologies pour vos donnes un produit hautement califié</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="container">
            <div align="center">
              <app-demo></app-demo>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!--end section -->

  <!-- begin section -->
  <div class="section  pt-0">
    <div class="container">
      <div class="section-title">
        <h3>Questions Fréquemment Posées</h3>
      </div>

      <div class="row pt-4">
        <div class="col-md-6">
          <h4 class="mb-3">Puis-je essayer avant d'acheter?</h4>
          <p class="light-font mb-5">
            Oui, il vous suffit de planifier une période d'essai gratuite avec notre équipe technique experte, afin de
            vous permettre de tester nos fonctionnalités.
          </p>
          <h4 class="mb-3">Quels moyens de paiement acceptez-vous?</h4>
          <p class="light-font mb-5">Notre plateforme utilise des méthodes de paiement hautement sécurisées, nous
            utilisons tout type de carte de crédit, visa, master card, etc. </p>

        </div>
        <div class="col-md-6">
          <h4 class="mb-3">Puis-je changer mon abonnement plus tard?</h4>
          <p class="light-font mb-5">Oui, vous pouvez modifier votre abonnement à tout moment, nous nous occupons de
            vos besoins. </p>
          <h4 class="mb-3">Avez-vous un contrat?</h4>
          <p class="light-font mb-5">Oui, nous sommes une entreprise de confiance, nous suivons nos client jusqu'à
            satisfaction</p>
        </div>
      </div>
    </div>

  </div>


  <!-- contact-->
  <div class="section light-bg" id="contact">

  </div>
  <app-chatbot></app-chatbot>
</body>

</html>